#secrets for hass-config/configuration.yaml
#by using secrets, there is one less place to change variables

# Main config
hostip: "<hostip address>"
configurator_url: "<hostip>:3218/"  #substitute your pi's LAN IP address here 
nodered_url: "<hostip>:1880/"  #here too
http://192.168.0.31:1880/
ha_db_url: "mysql://homeassistant:<ha_dbdatabasepassword>@<hostip>/ha_db?charset=utf8"
nodered_url: "
