#secrets for hass-config/configuration.yaml
#by using secrets, there is one less place to change variables

# Main config, where you see text delimited by < >, substitute the pertinent details
hostip: "<hostip>" # substitute your pi's LAN IP address  e.g., hostip: 192.168.0.31 
configurator_url: "http://<hostip>:3218/"  #again, replace host IP address here 
nodered_url: "http://<hostip>:1880/"  #here too

ha_db_url: "mysql://homeassistant:<ha_dbdatabasepassword>@<hostip>/ha_db?charset=utf8"
